@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --primary-orange: hsl(25, 97%, 53%);
    --neutral-white:hsl(0, 0%, 100%);
    --neutral-Light-gray: hsl(217, 12%, 63%);
    --neutral-Medium-gray: hsl(216, 12%, 54%);
    --component: hsl(213, 19%, 18%);
    --component-bg: hsl(216, 12%, 8%);
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    padding: 2rem;
}

.wrapper {
    background: var(--component-bg);
    padding: 2rem;
    border-radius: 10px;
}

.star {
    background-color: var(--component);
    padding: 0.6rem;
    border-radius: 50px;
}

h2, h3{
    color: var(--neutral-white);
}

h3, p {
    margin-top: 1rem;
}

p {
    color: var(--neutral-Medium-gray); 
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0
}


.rating div {
    background: var(--component);
    padding: 0.6rem 1rem;
    border-radius: 100px;
    cursor: pointer;
}

.rating div:hover {
    background-color: var(--neutral-Light-gray);
    color: var(--neutral-white);
}


button {
    background-color: var(--primary-orange);
    color: var(--neutral-white);
    padding: 0.6rem;
    width: 100%;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: var(--neutral-white);
    cursor: pointer;
    color: var(--primary-orange);
}


.thank__state {
    display: none;
}



